<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
  	<link href="/static/css/jumbotron.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron"  style="background:#eee">
      <div class="container">
        <h1>Taras Gordiyenko's simple flask demo</h1>
        <p>Figured showing would be more effective than telling.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Resume</h2>
          <p>Hey Gavin, you should totally hire me.</p>
          <p><a class="btn btn-default" href="resume" role="button">View</a></p>
        </div>
        <div class="col-md-4">
          <h2>Breakout</h2>
          <p>In case you're being too productive, play this.</p>
          <p><a class="btn btn-default" href="breakout" role="button">Play</a></p>
       </div>
        <div class="col-md-4">
          <h2>High Scores</h2>
          <p>Arcade style scoreboard for the Breakout clone</p>
          <p><a class="btn btn-default" href="scores" role="button">View</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>Taras Gordiyenko 2015</p>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>